flask==1.1.2 ; python_version == '3.6'
flask ; python_version > '3.6'
Werkzeug==1.0.1 ; python_version == '3.6'
Werkzeug ; python_version > '3.6'
requests==2.14.2 ; python_version == '3.6'
requests ; python_version > '3.6'

flask_cors
git+https://gitlab.ci.csc.fi/dpres/dpres-siptools-research.git@develop#egg=siptools_research
git+https://gitlab.ci.csc.fi/dpres/metax-access.git@develop#egg=metax_access
git+https://gitlab.ci.csc.fi/dpres/dpres-siptools.git@develop#egg=siptools

# testing requirements
coverage
pytest-cov
pytest-mock
urllib3
git+https://gitlab.ci.csc.fi/dpres/upload-rest-api.git@develop#egg=upload_rest_api
requests_mock<=1.7.0 ; python_version == '3.6'
requests_mock ; python_version > '3.6'
mongomock
tuspy

# requirements of dpres-siptools
git+https://gitlab.ci.csc.fi/dpres/xml-helpers.git@develop#egg=xml_helpers
git+https://gitlab.ci.csc.fi/dpres/mets.git@develop#egg=mets
git+https://gitlab.ci.csc.fi/dpres/premis.git@develop#egg=premis
git+https://gitlab.ci.csc.fi/dpres/dpres-signature.git@develop#egg=dpres_signature
git+https://gitlab.ci.csc.fi/dpres/nisomix.git@develop#egg=nisomix
git+https://gitlab.ci.csc.fi/dpres/addml.git@develop#egg=addml
git+https://gitlab.ci.csc.fi/dpres/audiomd.git@develop#egg=audiomd
git+https://gitlab.ci.csc.fi/dpres/videomd.git@develop#egg=videomd
git+https://gitlab.ci.csc.fi/dpres/ffmpeg-python.git#egg=ffmpeg_python
git+https://gitlab.ci.csc.fi/dpres/fido.git@develop#egg=opf_fido
git+https://gitlab.ci.csc.fi/dpres/file-scraper.git@develop#egg=file_scraper
