flask==0.10.1
werkzeug==0.9.1
requests==2.6.0
flask_cors
git+https://gitlab.csc.fi/dpres/dpres-siptools-research.git@develop#egg=siptools_research
git+https://gitlab.csc.fi/dpres/metax-access.git@develop#egg=metax_access

# testing requirements
coverage
pytest-cov
httpretty
mock
git+https://gitlab.csc.fi/dpres/upload-rest-api.git@develop#egg=upload_rest_api
requests_mock
mongomock

